@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #E8E9F3;
  --background-opposite: #000000;
  --text-primary: #000000;
  --text-secondary: #1E2939;
  --accent-primary: #426AA1;
  --accent-secondary: #415D43;
  --border-color: rgba(0, 0, 0, 0.1);
}


@media (prefers-color-scheme: dark) {
  :root {
    
    --background: #121212;
    --background-opposite: #E8E9F3;
    --text-primary: #E8E9F3;
    --text-secondary: #adadad;
    --accent-primary: #1C5D99;
    --accent-secondary: #7A9E7E;
    --border-color: rgba(255, 255, 255, 0.1);
  }
}


html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: var(--text-primary);
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}